/* styles.css */
/* styles.css */
body {
  background-color: #1e1e1e;
  color: #abb2bf;
  font-family: "JetBrains Mono"; /* Use JetBrains Mono as the font */
  margin: 0;
}

.editor-container {
  height: 60vh;
}

/* ... (rest of your CSS) */

button {
  background-color: #56b6c2;
  color: #1e1e1e;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3498db;
}

/* Custom neon highlighting */
.CodeMirror {
  background-color: #c51919;
  color: #abb2bf;
}

.CodeMirror-cursor {
  border-left: 2px solid #56b6c2 !important;
}

.CodeMirror-selected {
  background: rgba(86, 182, 194, 0.3) !important;
}

/* Adjusted font color */
.CodeMirror pre {
  color: #abb2bf;
}

/* Adjusted sidebar color */
.CodeMirror-gutters {
  background-color: #b79393;
  border-right: 1px solid #1d1f22;
}
/* styles.css */
body,
html {
  margin: 0;
  height: 100%;
}

.CodeMirror {
  border: none;
  height: 100vh; /* Adjust the height as needed, 'vh' stands for viewport height */
}
/* Customize scrollbar for WebKit browsers */
.CodeMirror::-webkit-scrollbar {
  width: 12px;
}

.CodeMirror::-webkit-scrollbar-thumb {
  background-color: #4caf50; /* Set your desired scrollbar color */
}

.CodeMirror::-webkit-scrollbar-track {
  background-color: #df1212; /* Set your desired track color */
}
