/* styles.css */
body,
html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #1e1e1e;
  color: #abb2bf;
  font-family: "JetBrains Mono";
  margin: 1;
  margin-bottom: 20vh;
}

.editor-container {
  height: 80vh;
}

button,
.custom-file-label,
.choose-file-button,
.save-file-button,
.save-local-button,
.load-local-button,
.format-code-button {
  background-color: #56b6c2;
  color: #1e1e1e;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  font-family: "JetBrains Mono", monospace;
  border-radius: 10px;
}

button:hover,
.custom-file-label:hover,
.choose-file-button:hover,
.save-file-button:hover,
.save-local-button:hover,
.load-local-button:hover,
.format-code-button:hover {
  background-color: #3498db;
}

.CodeMirror {
  background-color: #c51919;
  color: #abb2bf;
  border: 2px solid #56b6c2;
  height: 80vh;
}

.CodeMirror-cursor {
  border-left: 2px solid #56b6c2 !important;
}

.CodeMirror-selected {
  background: rgba(86, 182, 194, 0.3) !important;
}

.CodeMirror pre {
  color: #abb2bf;
}

.CodeMirror-gutters {
  background-color: #b79393;
  border-right: 1px solid #1d1f22;
}

.CodeMirror::-webkit-scrollbar {
  width: 12px;
}

.CodeMirror::-webkit-scrollbar-thumb {
  background-color: #4caf50;
}

.CodeMirror::-webkit-scrollbar-track {
  background-color: #df1212;
}

.custom-file-label,
.choose-file-button,
.save-file-button,
.save-local-button,
.load-local-button,
.format-code-button {
  background-color: #add8e6;
}

.custom-file-label:hover,
.choose-file-button:hover,
.save-file-button:hover,
.save-local-button:hover,
.load-local-button:hover,
.format-code-button:hover {
  background-color: #87cefa;
}

.custom-file-label,
.choose-file-button,
.save-file-button,
.save-local-button,
.load-local-button,
.format-code-button {
  margin-top: 5vh; /* Updated value */
  margin-bottom: 3px;
  border-radius: 8px;
}
